.wrapper {
  position: fixed;
  top: 50%;
  padding: 70px 80px 50px;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  max-width: 510px;
  min-height: 740px;
  background-color: white;
  box-shadow: 0 10px 40px -10px rgba($color: #818181, $alpha: 0.5);
}

.button {
  display: block;
  margin: 0 0 0 auto;
  border: none;
  color: white;
  background-color: #1e58ff;
  text-align: center;
}
